{% extends "navbar.html" %}

{% block content %}
    <div class="container">
      <h3>Retrieve password:</h3>
      <br>
      <form action="/forgot-password/" class="form-inline" method="post">
      <label>Username:</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
          <br>
          <label>Email:</label>
         <input type="email" class="form-control" placeholder="Email" name="email" value="{{request.form.email}}">
          <br>
        <input class="btn" type="submit" value="Check" style="background-color:#FFD166;color:#000" action="/forgot-password/">
      </form>

	<div class="container">

	  </div>


    </div>
{% endblock %}